{% extends "base.html" %}

<!--Content in navbar-->
{% block navbar-content %}
    <em class="fas fa-stethoscope"></em>&nbsp; Login
{% endblock navbar-content %}
<!--Button in navbar-->
{% block btn-nav %}
    <a href="{% url 'frontend' %}" class="btn btn-outline-info btn-sm border-light">Go back</a>
{% endblock btn-nav %}

{% block content %}

<div class="container mt-5">
    <div class="card p-3 border-dark">
        <span class="btn btn-outline-dark mt-3"><em class="fas fa-lock">&nbsp; RESTRICTED ACCESS</em></span>
        <form method="POST" autocomplete="off" novalidate>
            {% csrf_token %}
            <div class="input-group mb-3 mt-5">
                <span class="input-group-text">
                    <em class="fas fa-user-alt"></em>
                </span>
                <input type="text" class="form-control" name="username" placeholder="username">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">
                    <em class="fas fa-lock"></em>
                </span>
                <input type="password" class="form-control" name="password" placeholder="password">
            </div>
            <input type="submit" class="btn btn-primary btn-sm mt-4 mb-3 btn-enter" value="Enter">
        </form>
    </div>
</div>

{% endblock content %}