<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Logo -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/logo.png/' %}" />
    <!-- Static CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <!-- Bootstrap CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <!--    FontAwesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Website</title>
</head>
<body>

    <div class="wrapper">
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="cos-sm">
                    <a href="{% url 'frontend' %}" class="navbar-logo navbar-brand flex-grow-1">
                        {% block navbar-content %}
                            <em class="fas fa-briefcase-medical"></em>&nbsp; Mastery Hospital
                        {% endblock navbar-content %}
                    </a>
                </div>
                <div class="col-sm navbar-btn">
                    {% block btn-nav %}
                    <a href="{% url 'backend' %}" class="btn btn-outline-info btn-sm border-light">Login</a>
                    {% endblock btn-nav %}
                </div>
            </nav>
        </header>
    {% block content%}{% endblock content%}


    </div>


    <!-- FOOTER -->
    <footer class="bg-dark text-center text-lg-start text-light footer">
        <div class="text-center p-3">
            Copyright &copy; {% now "Y" %} <span>All rights reserved</span> | Made with
            <em class="text-danger fas fa-heartbeat"></em> by
            <a href="">Shikitos</a>
        </div>
    </footer>

    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

</body>
</html>